@{
    Layout = "_Layout";
}

<div class="container">
    <h1>Mad Libs!</h1>
    <p>There was @Model.GetAdjective() round @Model.GetNoun(). It belonged to @Model.GetPronoun(). @Model.GetNoun() @Model.GetVerb().</p>
</div>
